*~
ac-comphist.dat
clojure-emacs-hacks/
elpa*
emacs-w3m/
eshell/
javadoc-cache
server/
swank/
tramp
url/
/el-get/
/emms/
/.python-environments
elnode
info
/projectile-bookmarks.eld
.cask
/.org-id-locations
.trello
*.diary
*.ics
/bbdb
/bookmarks
/dropbox-token
/games
/ido.last
/image-dired
/network-security.data
/org-gcal
/projectile.cache
/recentf
/request
/tmp
/tutorial
/var
/forge-database.sqlite
/history
/smex-items
/speed-type
/transient
/type-break
/emojis/
/jabber-history/
/jabber-avatar-cache/
/.cache/
/.dap-breakpoints
/.lsp-session-v1
/.org-generic-id-locations
/eclipse.jdt.ls/
/forge-database.sqlite*
/matrix-client.el.token
/org-caldav*
/workspace/
/custom.el
/straight
/persist
/ex.db
/org-roam*
/wip
/private
